@page
@model BookStore.Web.Pages.Books.EditModel
@{
    ViewData["Title"] = "Edit Book";
}

<h2>Edit Book</h2>

<form method="post">
    <div class="mb-3">
        <label>Name</label>
        <input class="form-control" asp-for="Book.Name" />
        <span asp-validation-for="Book.Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input class="form-control" asp-for="Book.Price" />
        <span asp-validation-for="Book.Price" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Update</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>